body{
  font-family: arial, sans-serif;
  background-color: #6d4ea6;
  margin: 0;
  padding: 0;
}

.container {
text-align: center;
margin-top: 50px;
}

hi{
color:#333333;
}

p{
  color:#111111;
}

img{
  width: 400px;
}

.contador{
font-size: 36px;
  color:#08f708;
margin-top: 20px;  
}